{% extends 'khing/khing.html' %}
{% block tsubun %}
<main class="container py-3 px-md-4">    
    <h1 id="luebun">
        抱去摸
    </h1>
    <nav aria-label="麵包屑" class="d-flex">
        <span>目前位置：</span>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'pokam_item' 1 11 %}">台語寶鑑</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url 'pokam_item' 1 11 %}" aria-currnt="page">抱去摸</a>
            </li>
        </ul>
    </nav>
    <nav aria-label="寶鑑索引">
        <h2>抱去摸索引</h2>
        <p>共101筆</p>
        <ul class="list-inline">
            {% for mng in mngtin %}
            <li class="list-inline-item">
                <a href="{% url 'pokam_item' 1 11 %}" class="mb-5">
                {{ mng }}</a>
            </li>
            {% endfor %} 
        </ul>
    </nav>
   
    <a href="{% url 'pokam' %}"><span aria-hidden="true">←</span> 返回台語寶鑑</a>
</main>
{% endblock %}