.app.bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 960px;
  max-width: 100%;
}

.app.bar .title {
  display: block;
  margin: 0;
  height: 72px;
  margin: auto 0;
}

.app.bar .logo {
}

.app.bar .logo img {
  height: 100%;
}

.ui.right.item {
  padding-top: 10px
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .app.bar > .title{
    width: 100%;
    text-align: center;
    margin: auto 0;
  }
  .app.bar > .icon.menu{
    display: none;
  }
  .app.bar > .right.item{
    width: 100%;
    position: absolute;
    text-align: right;
  }

  .app.bar .menu {
    display: none;
  }
}
