.app.bar {
  display: flex;
  justify-content: space-between;
}

.app.bar .title {
  display: block;
  margin: 0;
  width: 170px;
  height: 72px;
}

.app.bar .logo {
  position: absolute;
  width: 170px;
  height: 48px;
  top: 10px;
  left: 14px;
}

.app.bar .logo img {
  width: 100%;
  height: 100%;
}
