.app.bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 960px;
  max-width: 100%;
}

.app.bar .title {
  display: block;
  margin: 0;
  width: 170px;
  height: 72px;
}

.app.bar .logo {
  position: absolute;
  width: 170px;
  height: 72px;
  top: 10px;
}

.app.bar .logo img {
  height: 100%;
}

.ui.right.item {
  padding-top: 10px
}
