
<section class="card border mb-4">
    <div class="card-body bg-light">
        <h2 class="mb-3">+ 新詞</h2>
        <form>
            <div class="row g-3">
            <div>
                <label for='lmj' class="form-label">台羅 <b>（*必填）</b></label>
                <input  name='lmj' id='lmj' type="text" class="form-control" required="" placeholder="lô-má-jī"/>
            </div>
            <div>
                <label for='han' class="form-label">教育部台語建議漢字 <b>（*必填）</b></label>
                <input  name='han' id='han' type="text" class="form-control" required="" placeholder="漢字" />
            </div>
            <div>
                <label for='liiu' class="form-label">40字以內補充說明，出處、理由、想法</label>
                <input name='liiu' id='liiu' class="form-control" maxlength="40" placeholder="來自某部文獻、家人在地說法、創意靈感來源……"></input> 
            </div>
            <strong>送出時，亦表示您同意內容以CC0｢不保留權利｣授權 </strong>
            <button class="btn btn-primary">登入後送出</button>
            </div>
        </form>
    </div>
</section>