amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
beautifulsoup4==4.5.1
billiard==3.3.0.23
celery==3.1.25
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.4
defusedxml==0.5.0
Django==1.11.8
django-allauth==0.25.2
django-cors-headers==2.1.0
gspread==0.6.2
gunicorn==19.6.0
htsengine==0.2.4
httplib2==0.10.3
idna==2.6
kombu==3.0.37
lxml==3.6.0
oauth2client==4.1.2
oauthlib==2.0.6
parse==1.6.6
parse-type==0.3.4
psycopg2==2.7.3.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==17.5.0
pypi-bleualign==0.1.1.1
pypi-kenlm==0.1.20160618
pypi-libavwrapper==0.0.1
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
six==1.11.0
tai5-uan5-gian5-gi2-kang1-ku7==0.6.32
tai5-uan5-gian5-gi2-phing5-tai5==0.1.6
tai5-uan5-gian5-gi2-tsu1-liau7-khoo3==3.1.20
urllib3==1.22
whitenoise==3.3.1
xlrd==1.0.0
