cffi==1.6.0
cryptography==1.4
defusedxml==0.4.1
Django==1.9.7
django-allauth==0.25.2
django-cors-headers==1.1.0
django-kronos==0.9
gspread==0.3.0
gunicorn==19.6.0
htsengine==0.2.4
httplib2==0.9.2
idna==2.1
lxml==3.6.0
oauth2client==2.2.0
oauthlib==1.1.2
parse==1.6.6
parse-type==0.3.4
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pyOpenSSL==16.0.0
pypi-bleualign==0.1.1.1
pypi-kenlm==0.1.20160618
pypi-libavwrapper==0.0.1
python-crontab==2.0.2
python-dateutil==2.5.3
python3-openid==3.0.10
PyYAML==3.11
requests==2.10.0
requests-oauthlib==0.6.1
rsa==3.4.2
six==1.10.0
tai5-uan5-gian5-gi2-kang1-ku7==0.6.0
tai5-uan5-gian5-gi2-phing5-tai5==0.1.1
tai5-uan5-gian5-gi2-tsu1-liau7-khoo3==3.1.9
xlrd==1.0.0
