{% extends 'khing/khing.html' %}

{% block tsubun %}
<main class="container py-3 px-md-4">    
    <h1 id="luebun" class="mb-5">
        <svg width="48" height="48" aria-hidden="true">
            <use href="#svg-person-fill"></use>
        </svg>
        a8568730個人頁面
    </h1>

    <div class="row mb-3">
        <section class="col-12 col-md-4 mb-4 mb-md-0">
            <h2>統計</h2>
            <div class="border pt-2">
            <ul class="list-unstyled row gy-1">
                <li class="col-3 col-md-6 text-center">
                    <span class="fs-4">0</span>
                    <small class="d-block">發問</small>
                </li>
                <li class="col-3 col-md-6 text-center">
                    <span class="fs-4">0</span>
                    <small class="d-block">關注</small>
                </li>
                <li class="col-3 col-md-6 text-center">
                    <span class="fs-4">0</span>
                    <small class="d-block">回答</small>
                </li>
                <li class="col-3 col-md-6 text-center">
                    <span class="fs-4">0</span>
                    <small class="d-block">收藏</small>
                </li>
            </ul>
            </div>
        </section>

        <section class="col-12 col-md-8">
            <h2>最近我的收藏</h2>
            <p class="text-secondary">查看完整清單<a href="">我的收藏</a></p>
            <ul>
                <li><a href="#!">清單1</a></li>
                <li><a href="#!">清單2</a></li>
                <li><a href="#!">清單3</a></li>
            </ul>
        </section>
    </div>

    <section class="mb-4">
        <h2>最近我的發問</h2>
        <p class="text-secondary">查看完整清單<a href="">我的發問</a></p>
        <table class="table">
            <caption class="visually-hidden">最近發問10筆</caption>
            <thead>
                <tr><th>關注</th><th>回答</th><th>瀏覽數</th><th>華語</th><th>發問日</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>5</td>
                    <td class="text-success"><strong>2</strong></td>
                    <td>17</td>
                    <td><a href="#!">各個國家有各個國家的國歌</a></td>
                    <td><time>2014-03-26</time></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="mb-4">
        <h2>最近我的回答</h2>
        <p class="text-secondary">查看完整清單<a href="">我的回答</a></p>
        <table class="table">
            <caption class="visually-hidden">最近回答10筆</caption>
            <thead>
                <tr><th>讚</th><th>收藏</th><th>華語</th><th>我的回答</th><th>回答日</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>20</td>
                    <td>10</td>
                    <td><a href="#!">各個國家有各個國家的國歌</a></td>
                    <td><a href="#!">各個國家有各個國家的國歌</a></td>
                    <td><time>2014-03-26</time></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="mb-5">
        <h2>最近我的XX</h2>
        <div class="bg-light p-3 border rounded">尚無任何記錄</div>
    </section>
</main>
{% endblock %}