{% extends 'khing/khing.html' %}

{% block tsubun %}
<main class="container py-3 px-md-4">
    <h1 id="luebun" class="mb-5">
        <svg width="48" height="48" aria-hidden="true">
            <use href="#svg-eye"></use>
        </svg>
        我關注的發問
    </h1>

    <table class="table">
        <caption class="visually-hidden">發問第1-10筆</caption>
        <thead>
            <tr><th>關注數</th><th>回答數</th><th>瀏覽數</th><th>關注發問</th><th>發問日</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>5</td>
                <td class="text-success"><strong>2</strong></td>
                <td>17</td>
                <td><a href="#!">各個國家有各個國家的國歌</a></td>
                <td><time>2014-03-26</time></td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="我關注的發問頁碼">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>  
</main>
{% endblock %}