{% extends 'khing/khing.html' %}

{% block tsubun %}
<main class="container py-3 px-md-4">
    <h1 id="luebun" class="mb-5">
        <svg width="48" height="48" aria-hidden="true">
            <use href="#svg-person-fill"></use>
        </svg>
        a8568730我的收藏
    </h1>

    <section class="mb-5">
        <h2><a href="#!">學習清單</a></h2>
        <table class="table">
            <caption class="visually-hidden">最近收藏3筆</caption>
            <thead>
                <tr><th>收藏回答（台羅）</th><th>收藏回答（漢羅）</th><th>發問</th><th>取消收藏</th></tr>
            </thead>
            <tbody class="align-baseline">
                <tr>
                    <td>
                        <span>kok-kua</span>
                        <button class="btn px-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" aria-hidden="true"><use href="#svg-volume-down"></use></svg>
                            <span class="visually-hidden">播放音檔XX</span>
                        </button>
                    </td>
                    <td><span>隨國有國歌</span>
                        <button class="btn px-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" aria-hidden="true"><use href="#svg-volume-down"></use></svg>
                            <span class="visually-hidden">播放音檔XX</span>
                        </button>
                    </td>
                    <td><a href="#!">各個國家有各個國家的國歌</a></td>
                    <td>
                        <button class="btn btn-primary">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="mb-5">
        <h2><a href="#!">學習清單</a></h2>
        <table class="table">
            <caption class="visually-hidden">最近收藏3筆</caption>
            <thead>
                <tr><th>收藏回答（台羅）</th><th>收藏回答（漢羅）</th><th>發問</th><th>取消收藏</th></tr>
            </thead>
            <tbody class="align-baseline">
                <tr>
                    <td>
                        <span>kok-kua</span>
                        <button class="btn px-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" aria-hidden="true"><use href="#svg-volume-down"></use></svg>
                            <span class="visually-hidden">播放音檔XX</span>
                        </button>
                    </td>
                    <td><span>隨國有國歌</span>
                        <button class="btn px-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" aria-hidden="true"><use href="#svg-volume-down"></use></svg>
                            <span class="visually-hidden">播放音檔XX</span>
                        </button>
                    </td>
                    <td><a href="#!">各個國家有各個國家的國歌</a></td>
                    <td>
                        <button class="btn btn-primary">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

</main>
{% endblock %}