{% extends 'khing/khing.html' %}

{% block tsubun %}
<main class="container py-3">
    <h1 id="luebun">
        <svg width="48" height="48" aria-hidden="true">
            <use href="#svg-bookmark-star"></use>
        </svg>
        學習清單
    </h1>

    <nav aria-label="麵包屑導航欄" class="d-flex mb-5">
      <span class="me-2">目前位置：</span>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'tiann' %}">首頁</a></li>
        <li class="breadcrumb-item"><a href="{% url 'khautso' %}">個人頁面</a></li>
        <li class="breadcrumb-item"><a href="{% url 'siutsong' %}">我收藏的回答</a></li>
        <li class="breadcrumb-item active"><p class="d-inline-block mb-0">學習清單<span class="visually-hidden">（目前頁面）</span></p></li>
      </ol>
    </nav>

    <p class="mb-4">共收藏 72 筆回答</p>

    <table class="table">
        <caption>第 1 頁學習清單</caption>
        <thead>
            <tr><th>收藏回答（台羅）</th><th>收藏回答（漢羅）</th><th>發問</th><th>取消收藏</th></tr>
        </thead>
        <tbody class="align-baseline">
            <tr>
                <td>
                    <span>kok-kua</span>
                    <button class="btn px-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" aria-hidden="true"><use href="#svg-volume-down"></use></svg>
                        <span class="visually-hidden">播放音檔XX</span>
                    </button>
                </td>
                <td><span>隨國有國歌</span>
                    <button class="btn px-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" aria-hidden="true"><use href="#svg-volume-down"></use></svg>
                        <span class="visually-hidden">播放音檔XX</span>
                    </button>
                </td>
                <td><a href="#!">各個國家有各個國家的國歌</a></td>
                <td>
                    <button class="btn btn-primary" aria-label="取消收藏kok-kua隨國有國歌">X</button>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="學習清單頁碼">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">上一頁</a></li>
        <li class="page-item active"><a class="page-link" href="#" aria-current="page">1</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="第2頁">2</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="第3頁">3</a></li>
        <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
      </ul>
    </nav>

    <a href="{% url 'siutsong' %}"><span aria-hidden="true">←</span> 返回我收藏的回答</a>
</main>
{% endblock %}