{% extends 'khing/khing.html' %}

{% block tsubun %}
<main class="container py-3 px-md-4">
    <h1 id="luebun" class="mb-5">
        <svg width="48" height="48" aria-hidden="true">
            <use href="#svg-bell"></use>
        </svg>
        通知
    </h1>
    <ol class="list-group list-group-flush mb-3">
        <li class="list-group-item">
            <strong>Tshua Bunli</strong>
            <span>關注你的發問：各個國家有各個國家的國歌</span>
        </li>
        <li class="list-group-item">
            <strong>Tshua Bunli</strong>
            <span>收藏你的回答：Suî kok ū kok-kua</span>
        </li>
        <li class="list-group-item disabled">
            <strong>Babuy</strong>
            <span>關注你的發問：各個國家有各個國家的國歌</span>
        </li>
        <li class="list-group-item">
            <strong>Tshua Bunli</strong>
            <span>關注你的發問：各個國家有各個國家的國歌</span>
        </li>
        <li class="list-group-item">
            <strong>Tshua Bunli</strong>
            <span>收藏你的回答：Suî kok ū kok-kua</span>
        </li>
        <li class="list-group-item disabled">
            <strong>Babuy</strong>
            <span>關注你的發問：各個國家有各個國家的國歌</span>
        </li>
    </ol>
    <nav aria-label="通知頁碼">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">上一頁</a></li>
        <li class="page-item active"><a class="page-link" href="#" aria-current="page">1</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="第2頁">2</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="第3頁">3</a></li>
        <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
      </ul>
    </nav>
</main>
{% endblock %}