{% extends 'khing/khing.html' %}

{% block tsubun %}
<main>
    <section class="bg-light py-3 mb-3">
        <div class="container">
            <h1 id="luebun">iTaigi 眾人華台辭典</h1>
            <p>自己的辭典自己編，查不到時可以公開發問，或者自己發明台語講法貢獻給大家。</p>

            <form class="mb-4" method="get" action="{% url 'tshiau' %}">
                <label for="tshiau" class="fs-2 fw-bolder col-form-label">查詢辭典</label>
                <input type="search" class="form-control" name="tshiau" id="tshiau" placeholder="查詢華語詞……" required/>
            </form>
        </div>
    </section>

    <section class="container py-3">
        <div class="mb-4">
            <h2>熱門發問</h2>
            <table class="table">
                <caption>第1頁熱門發問</caption>
                <thead>
                    <tr>
                        <th>發問</th>
                        <th>關注數</th>
                        <th>回答數</th>
                        <th>瀏覽數</th>
                        <th>發問時間</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#!">各個國家有各個國家的國歌</a></td>
                        <td><span >2</span></td>
                        <td class="text-success"><strong>2</strong></td>
                        <td><span>2</span></td>
                        <td>2小時前</td>
                    </tr>
                    <tr>
                        <td><a href="#!">章魚燒</a></td>
                        <td><span >2</span></td>
                        <td class=""><span class="">0</span></td>
                        <td><span>2</span></td>
                        <td>今天</td>
                    </tr>
                    <tr>
                        <td><a href="#!">忍者龜</a></td>
                        <td><span>5</span></td>
                        <td class="text-success"><strong>1</strong></td>
                        <td><span>2</span></td>
                        <td>1天前</td>
                    </tr>
                    <tr>
                        <td><a href="#!">忍者龜</a></td>
                        <td><span>5</span></td>
                        <td class="text-success"><strong>1</strong></td>
                        <td><span>2</span></td>
                        <td>2021-05-26</td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="熱門查詢頁碼">
              <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">上一頁</a></li>
                <li class="page-item active"><a class="page-link" href="#" aria-current="page">1</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="第2頁">2</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="第3頁">3</a></li>
                <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
              </ul>
            </nav>
        </div>
    </section>
</main>
{% endblock %}