/* Mobile */
@media only screen and (max-width: 727px) {
  .ui.su.card{
    justify-content: center;
  }
}

@media only screen and (min-width: 627px) {
  .ui.su.card{
    justify-content: center;
    width: 304px;
  }
}
