
body {
  margin: 0;
}

.app.background {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-color: #f1efeb;
}

.app .container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.app .main.container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  align-content: flex-start;
  justify-content: center;
}

.navigation {
  width: 100%;
  height: 50px;
  margin: 1em 0;
}

.app .app.header {
  min-height: 90px;
  display: flex;
  justify-content: center;
  background: #fff;
}

.app .app.footer {
  background: #1b1c1d;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .app.footer > .menu.container {
    background: #1b1c1d;
    padding-left: 0;
    overflow: hidden;
  }
}

@font-face {
  font-family: "MOEDICT";
  src: url(https://www.moedict.tw/MOEDICT.woff);
}

@font-face {
  font-family: "FiraSansOT-Regular";
  src: url(https://www.moedict.tw/fonts/FiraSansOT-Regular.woff);
}

h2.ui.header{
	font-family: "MOEDICT", sans-serif;
}

div.description{
  font-family: "FiraSansOT-Regular", sans-serif;  
}