
body {
  margin: 0;
}

.app.background {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.app .container {
  width: 960px;
  margin: 0 auto;
}

.app .main.container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  align-content: flex-start;
}

.navigation {
  height: 50px;
  margin: 1em 0;
}

.app .app.header {
  background: #fff;
}

.app .app.footer {
  background: #1b1c1d;
}

body {
  background: #f1efeb;
}
