.app.bar {
  display: flex;
  justify-content: space-between;
}

.app.bar .title {
  display: block;
  margin: 0;
  width: 170px;
  height: 72px;
}

.app.bar .logo {
  background-image: url(./images/logo.png);
  position: absolute;
  width: 170px;
  height: 72px;
}

.app.bar .logo u {
  position: relative;
  left: -99999px;
}
