{% load static %}
<header class="navbar navbar-expand-md navbar-light border-bottom">
    <div class="container-md">
            <a class="navbar-brand fw-bolder" href="{% url 'tiann' %}">
                <img src="{% static 'sutian/image/logo.svg' %}" alt='itaigi眾人華台辭典' height="32" class="me-2">
                <span class="d-none d-lg-inline-block">iTaigi 眾人華台辭典</span>
            </a>
            
            <!--Mobile list items-->
            <ul class="navbar-nav d-md-none ms-auto d-block">
                <!-- <li class="d-inline-block"><a class="nav-link" href="#!">登入/註冊</a></li> -->
                <li class="d-inline-block dropdown">
                    <button class="btn dropdown-toggle me-1 position-relative" type="button" id="thongti" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="24" height="24">
                            <use href="#svg-bell"></use>
                        </svg>
                        <span class="d-none d-md-inline-block">通知</span>
                        <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="thongti">
                        <span class="fw-bolder px-2">通知</span>
                        <hr class="dropdown-divider">
                        <ul class="list-group list-group-flush" style="width: 50vw;max-height: 50vh; overflow-y: scroll;">
                            <li class="list-group-item">
                                <strong>Tshua Bunli</strong>
                                <span>關注你的發問：各個國家有各個國家的國歌</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Tshua Bunli</strong>
                                <span>收藏你的回答：Suî kok ū kok-kua</span>
                            </li>
                            <li class="list-group-item disabled">
                                <strong>Babuy</strong>
                                <span>關注你的發問：各個國家有各個國家的國歌</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Tshua Bunli</strong>
                                <span>關注你的發問：各個國家有各個國家的國歌</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Tshua Bunli</strong>
                                <span>收藏你的回答：Suî kok ū kok-kua</span>
                            </li>
                            <li class="list-group-item disabled">
                                <strong>Babuy</strong>
                                <span>關注你的發問：各個國家有各個國家的國歌</span>
                            </li>
                        </ul>
                        <hr class="dropdown-divider">
                        <a href="{% url 'thongti' %}" class="ms-3">查看完整通知</a>
                    </div>
                </li>
                <li class="d-inline-block dropdown">
                    <button class="btn dropdown-toggle me-1" type="button" id="khautso" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg width="24" height="24">
                        <use href="#svg-person-fill"></use>
                    </svg>
                    <span class="d-none d-md-inline-block">帳號</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="khautso">
                        <li><a class="dropdown-item" href="{% url 'khautso' %}">a8568730個人頁面</a></li>
                        <li><a class="dropdown-item" href="{% url 'mng' %}">我的發問</a></li>
                        <li><a class="dropdown-item" href="{% url 'tap' %}">我的回答</a></li>
                        <li><a class="dropdown-item" href="#!">我關注的發問</a></li>
                        <li><a class="dropdown-item" href="{% url 'siutsong' %}">我收藏的回答</a></li>
                        <li><a class="dropdown-item" href="#!">登出</a></li>
                    </ul>
                </li>
            </ul>
            <!--Mobile menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tolam" aria-controls="tolam" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>
            </button>
        <nav id="tolam" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'tiann' %}">首頁</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'miasenn' %}">查詢姓名發音</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">台語寶鑑</a></li>
            </ul>
            <ul class="navbar-nav d-none d-md-block ms-auto">
                <li class="d-inline-block"><a class="nav-link" href="#!">登入/註冊</a></li>
                <li class="d-inline-block dropdown">
                    <button class="btn dropdown-toggle me-1 position-relative" type="button" id="thongti" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="24" height="24">
                            <use href="#svg-bell"></use>
                        </svg>
                        通知
                        <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="thongti">
                        <span class="fw-bolder px-2">通知</span>
                        <hr class="dropdown-divider">
                        <ul class="list-group list-group-flush" style="width: 50vw;max-height: 50vh; overflow-y: scroll;">
                            <li class="list-group-item">
                                <strong>Tshua Bunli</strong>
                                <span>關注你的發問：各個國家有各個國家的國歌</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Tshua Bunli</strong>
                                <span>收藏你的回答：Suî kok ū kok-kua</span>
                            </li>
                            <li class="list-group-item disabled">
                                <strong>Babuy</strong>
                                <span>關注你的發問：各個國家有各個國家的國歌</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Tshua Bunli</strong>
                                <span>關注你的發問：各個國家有各個國家的國歌</span>
                            </li>
                            <li class="list-group-item">
                                <strong>Tshua Bunli</strong>
                                <span>收藏你的回答：Suî kok ū kok-kua</span>
                            </li>
                            <li class="list-group-item disabled">
                                <strong>Babuy</strong>
                                <span>關注你的發問：各個國家有各個國家的國歌</span>
                            </li>
                        </ul>
                        <hr class="dropdown-divider">
                        <a href="{% url 'thongti' %}" class="ms-3">查看完整通知</a>
                    </div>
                </li>
                <li class="d-inline-block dropdown">
                    <button class="btn dropdown-toggle me-1" type="button" id="khautso" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg width="24" height="24">
                        <use href="#svg-person-fill"></use>
                    </svg>
                    帳號
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="khautso">
                        <li><a class="dropdown-item" href="{% url 'khautso' %}">a8568730個人頁面</a></li>
                        <li><a class="dropdown-item" href="{% url 'mng' %}">我的發問</a></li>
                        <li><a class="dropdown-item" href="{% url 'tap' %}">我的回答</a></li>
                        <li><a class="dropdown-item" href="{% url 'tap' %}">我關注的發問</a></li>
                        <li><a class="dropdown-item" href="{% url 'siutsong' %}">我收藏的回答</a></li>
                        <li><a class="dropdown-item" href="#!">登出</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>